body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spazio tra i pulsanti */
}

.btn-vibration {
  background-color: #ed3cfa;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-vibration:hover {
  background-color: #ca1cd6; /* Colore al passaggio del mouse */
}

.btn-vibration:active {
  background-color: #ca1cd6; /* Colore quando il pulsante è premuto */
}

.btn-stop {
  background-color: #e00a32;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-stop:hover {
  background-color: #a70422; /* Colore al passaggio del mouse */
}

.btn-stop:active {
  background-color: #a70422; /* Colore quando il pulsante è premuto */
}
